<dict>
  <key>Metadata</key>
  <dict>
    <key>generator</key><string>bss v0.02</string>
    <key>monkeys</key><integer>7</integer>
  </dict>
  <key>Image</key>
  <dict>
    <key>base</key><string>test_sprites</string>
    <key>file</key><string>test_sprites.png</string>
        <key>w</key><integer>512</integer>
        <key>h</key><integer>256</integer>
  </dict>
  <key>Sprites</key>
  <array>
    <dict>
        <key>idx</key><integer>0</integer>
        <key>name</key><string>testImgs1/appicon64.gif</string>
        <key>x</key><integer>0</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>64</integer>
        <key>h</key><integer>64</integer>
    </dict>
    <dict>
        <key>idx</key><integer>1</integer>
        <key>name</key><string>testImgs1/build.gif</string>
        <key>x</key><integer>65</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>2</integer>
        <key>name</key><string>testImgs1/buildandplay.gif</string>
        <key>x</key><integer>100</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>3</integer>
        <key>name</key><string>testImgs1/clock.gif</string>
        <key>x</key><integer>135</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>4</integer>
        <key>name</key><string>testImgs1/clock2.gif</string>
        <key>x</key><integer>170</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>5</integer>
        <key>name</key><string>testImgs1/datain.gif</string>
        <key>x</key><integer>205</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>6</integer>
        <key>name</key><string>testImgs1/dataout.gif</string>
        <key>x</key><integer>240</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>7</integer>
        <key>name</key><string>testImgs1/find.gif</string>
        <key>x</key><integer>275</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>8</integer>
        <key>name</key><string>testImgs1/findnext.gif</string>
        <key>x</key><integer>310</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>9</integer>
        <key>name</key><string>testImgs1/spacer.gif</string>
        <key>x</key><integer>345</integer>
        <key>y</key><integer>0</integer>
        <key>w</key><integer>20</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>10</integer>
        <key>name</key><string>testImgs2/floppy.gif</string>
        <key>x</key><integer>0</integer>
        <key>y</key><integer>65</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>11</integer>
        <key>name</key><string>testImgs2/playfloppy.gif</string>
        <key>x</key><integer>35</integer>
        <key>y</key><integer>65</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>12</integer>
        <key>name</key><string>testImgs2/recordfloppy.gif</string>
        <key>x</key><integer>70</integer>
        <key>y</key><integer>65</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>13</integer>
        <key>name</key><string>testImgs3/pause.gif</string>
        <key>x</key><integer>0</integer>
        <key>y</key><integer>100</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>14</integer>
        <key>name</key><string>testImgs3/play.gif</string>
        <key>x</key><integer>35</integer>
        <key>y</key><integer>100</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>15</integer>
        <key>name</key><string>testImgs3/reset.gif</string>
        <key>x</key><integer>70</integer>
        <key>y</key><integer>100</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>16</integer>
        <key>name</key><string>testImgs3/resetpause.gif</string>
        <key>x</key><integer>105</integer>
        <key>y</key><integer>100</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>17</integer>
        <key>name</key><string>testImgs3/step.gif</string>
        <key>x</key><integer>140</integer>
        <key>y</key><integer>100</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>18</integer>
        <key>name</key><string>testImgs3/stop.gif</string>
        <key>x</key><integer>175</integer>
        <key>y</key><integer>100</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
    <dict>
        <key>idx</key><integer>19</integer>
        <key>name</key><string>testImgs3/yellowbox.gif</string>
        <key>x</key><integer>210</integer>
        <key>y</key><integer>100</integer>
        <key>w</key><integer>34</integer>
        <key>h</key><integer>34</integer>
    </dict>
  </array>
</dict>
</plist>

